.htaccess

!index.html

opencart_storage/download/
opencart_codebase/image/data/
opencart_codebase/image/cache/
opencart_codebase/system/cache/
opencart_codebase/system/logs/

opencart_codebase/system/storage/
opencart_storage/cache/
opencart_storage/download/
opencart_storage/logs/
opencart_storage/session/
opencart_storage/modification/system/
opencart_storage/upload/
./storage/
# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache
.idea
.DS_Store
.vscode
