<footer id="footer">{{ text_footer }}<br />{{ text_version }}</footer></div>
<script>
$(document).on('click','.note-insert button',function(){ 
	$('.modal-backdrop.in').css("display","none");
});
$(document).on('click','.note-link button',function(){ 
	$('.modal-backdrop.in').css("display","none");
});
</script>
</body></html>
